<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <div class="mainContentab">
            <p>This site was created by Sean'Zho</p>
            <img src="https://media-exp1.licdn.com/dms/image/C4D03AQGR8OKcPIGJ8w/profile-displayphoto-shrink_400_400/0/1572099779442?e=1623283200&v=beta&t=vgE5w-pQoTi5i-tjJtouDazHB_TjZjRLeLtCsA4zdwY" class="meImage">
        </div>
    </div>
    
    {{>footer}}
</body>

</html>